body{
  min-height: 93vh;
  background-color: antiquewhite;
  position: relative;
}
.change{
  display:none;
}

header{
    height: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px 0;
}
nav{
  margin-right: 10px;
}
.title{
  font-size: 24px;
  color: rgba(0, 0, 0, 0.7);
}
.HeaderMenu{
    position: absolute;
    right: 0;

}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input[type="text"] {
  color: rgb(102, 173, 255) ;
  font-size: 16px;
  padding: 5px;
  width: 70%;
  max-width: 300px;
}
.lists{
  max-width: 600px;
  width: 50%;
}
main>div>ul{
  padding: 0;
}
main>div>ul>li{
  list-style: none;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  margin: 10px;
  padding-right: 50px;
  text-indent: 5px;
  font-size: 20px;
  line-height: 30px;
  word-wrap: break-word;
}
.dustBox{
  margin-top: 32px;
}
.dustbinColor{
  filter: invert(72%) sepia(26%) saturate(6428%) hue-rotate(1deg) brightness(70%) contrast(102%);
}
.dustbin{
  position: absolute;
  right: 0;
}
.undo{
  position: absolute;
  right: 30px;
}
li>img{
    top: 5px;
  height: 20px;
  cursor: pointer;
  font-size: 8px;
}

footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: inline;
}
footer div{
  padding-right: 30px;
  text-align: right;
}
footer div,a{
  font-size: 8px;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
